.curriculo {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
  flex-direction: row;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

p {
  flex-grow: 1;
}
